/* styles.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    margin: 0;
    font-family: 'Courier New', monospace;
}

#ledDisplay {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

#matrixCanvas {
    width: 100%;
    height: 100px;
}

#inputBar {
    margin-top: 20px;
    width: 80%;
}

input[type='text'] {
    padding: 10px;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #555;
}
